{% extends 'admin/base.html.twig' %}


{%  block body %}

    <form method="POST">
        <div>
            <label>Email :
                <input type="email" name="email">
            </label>
        </div>
        <div>
            <label>Mot de Passe :
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <input type="submit" value="Créer">
        </div>

    </form>


{% endblock %}