{% extends 'base.html.twig' %}


{% block body %}

    <section id="sectArticles">
        <h1 id="h1Articles">John a rien trouvé</h1>
        <div id="imgArticles">
            <img src="https://media.tenor.com/Id1tcVjcqREAAAAM/steven-seagal-what.gif">
        </div>
    </section>

{% endblock %}