{% extends'base.html.twig' %}

{# ------------- TITRE ------------- #}

    {% block metatitle %}
        Blog : Toutes les categories
    {% endblock %}

        {% block body %}

            <h1 id="h1Articles">Toutes nos catégories :</h1>
                <section id="sectArticles">
                    {% for category in categories %}
                        <div class="divArticles">
                            <p><span class="spanArticles">Titre de la catégorie: </span>{{ category.title }}</p>
                            <a class="ancreCategory" href="{{ path('show_category', {id: category.id }) }}">Voir la catégorie</a>
                        </div>
                    {% endfor %}
                </section>
        {% endblock %}