{% extends'base.html.twig' %}

{# ------------- TITRE ------------- #}

    {% block metatitle %}
        Blog : Page d'Accueil
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}

            <section id="bvnHome">
                <article>
                    <p id="home">BIENVENUE</p>
                </article>
            </section>

        {% endblock %}