<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/admin.style.css') }}">
</head>


<body>
    {# ------------- HEADER ------------- #}
    <header>
        <nav id="navHeader">
            <ul id="ulHeader">
                <li>
                    <a>Admin</a>
                </li>
            </ul>
        </nav>
    </header>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


{% block body %}

{% endblock %}


    {# ------------- FOOTER ------------- #}
    <footer id="FooterPub">
        <p>© Copyright Portailler Raphael</p>
    </footer>
</body>
</html>